<body>
    <div class="background-video-container">
        <video autoplay loop muted>
            <source src ="assets/Background.mp4" type="video/mp4">
        </video>
        <div class="video-overlay"></div>
    </div>

    <div class="text">
        <h1>Welcome to Retrofy</h1>
        <p>A new innovative approach to keeping track of your project teams</p>
    </div>

    <div class="board-container">
        <h2>Existing Boards</h2>
        <ul class="board-list">
        <li>Board 1</li>
        <li>Board 2</li>
        <li>Board 3</li>
        <li>Board 4</li>
        <li>Board 5</li>
        </ul>
        <button class="create-board-button">Create Board</button>
    </div>
    
</body>